:root {
    --page-font: "Roboto", sans-serif;
    --logo-font: "Releway";
    --dark: #434455;
    /* navy-blue __ Overlays, Shadows, Headings */
    --primary-brands: #4D5AE5, Iris;
    /* Iris __ CTAs focused, Active, states, Links */

}



body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
    font-family: var(--page-font);
    color: var(--dark);
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-family: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-family: inherit;
}

h3 {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;

}

p {
    font-family: var(--page-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}