:root {
  --font-family: "Roboto", sans-serif;
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}
body {
  background-color: #e7e9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: var(--font-family);
  color: var(--navyblue);
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* header */
header {
  width: 1440px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  padding: 0 156px;
}

.logo {
  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo__text {
  color: var(--iris);
}
header .logo__text-color {
  color: var(--navyblue);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 24px 0 24px 76px;
}
.header__nav-item a {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-right: 40px;
  color: var(--navyblue);
}
.header__nav-list {
  display: flex;
}

.header__contact {
  color: var(--slate);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 24px 0 24px 40px;
}
.title__wrap {
  padding: 188px 0;
  text-align: center;
  width: 496px;
}
.header__title-container {
  display: flex;
  justify-content: center;
  background: var(--navyblue, #2e2f42);
}
.header__title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.header__button {
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  color: var(--white, #fff);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin-top: 48px;
}
/* main */
/* about index */
.about__items {
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
}
.about__item {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.about__item h3 {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.about__item p {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.line-head {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.about__img {
  display: flex;
  justify-content: space-between;
}


.container{
  width: 1440px;
  padding: 0 156px;

}
.section {
  padding: 0 156px;
}
.box-batton__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
}
.box-batton__item {
  padding-right: 24px;
}

.box-batton__btn {
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud, #f4f4fd);
  padding: 12px 24px;
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.preview__project-list {
  padding-top: 72px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding-bottom: 120px;
}
.preview__project-cart {
  margin-bottom: 48px;
  border: 1px solid var(--cornflower);
  background: var(--white);
}
.preview__cart-text {
  padding: 32px 16px;
}
.preview__cart-title {
  padding-bottom: 8px;
  font-size: 20px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.preview__cart-desc {
  color: var(--slate);
  font-size: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* team  -  index */
.section__tea--bg {
  background: var(--cloud, #f4f4fd);
}
.team {
  padding: 120px 0;
}
.about__galary {
  margin-bottom: 120px;
}
.team__item {
  width: 254px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team__item h3 {
  padding: 32px 0 8px 0;
}
.team__item p {
  padding-bottom: 32px;
  color: var(--slate);
}
.team__iner {
  display: flex;
  justify-content: space-between;
}
/* footer */

footer {
  padding-top: 100px;
  width: 1440px;
  background: var(--navyblue);
}
.footer__text p {
  color: var(--cloud, #f4f4fd);
  width: 264px;
  font-size: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 15px 0 100px 0;
}
footer .logo__text-color {
  color: var(--cloud);
}
